* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-style: 15px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 30 auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.board {
  width:500px;
  height: 500px;
  border: 10px solid rgb(121, 125, 125);
  background-color: rgb(204, 205, 204);
  margin: 0 auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 48px;
  height: 48px;
  font-size: 14px;
  border: 1px solid rgb(244, 239, 239);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-checked {
  background-color: rgb(153, 157, 160);
}

.smile-button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  
}

.new-game {
  width: 130px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  padding: 5px;
  background-color: rgb(100, 149, 237);
  border: none;
}

.lose {
  font-size: 30px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.won {
  font-size: 40px;
  font-weight: bold;
  color: rgb(107, 174, 219);
  margin-top: 10px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.bomb1 {
  color: green;
}

.bomb2 {
  color: blue;
}

.bomb3 {
  color: tomato;
}

.bomb4 {
  color: blueviolet;
}
